<div id="<%= dom_id hocsinhsach %>">
  <p>
    <strong>Idstudent 241:</strong>
    <%= hocsinhsach.IdStudent_241 %>
  </p>

  <p>
    <strong>Namestudent 241:</strong>
    <%= hocsinhsach.NameStudent_241 %>
  </p>

  <p>
    <strong>Roomstudent 241:</strong>
    <%= hocsinhsach.RoomStudent_241 %>
  </p>

  <p>
    <strong>Idbook 241:</strong>
    <%= hocsinhsach.IdBook_241 %>
  </p>

  <p>
    <strong>Namebook 241:</strong>
    <%= hocsinhsach.NameBook_241 %>
  </p>

  <p>
    <strong>Author 241:</strong>
    <%= hocsinhsach.Author_241 %>
  </p>

  <p>
    <strong>Category 241:</strong>
    <%= hocsinhsach.Category_241 %>
  </p>

  <p>
    <strong>Idbm 241:</strong>
    <%= hocsinhsach.IDBM_241 %>
  </p>

  <p>
    <strong>Dateborrow 241:</strong>
    <%= hocsinhsach.DateBorrow_241 %>
  </p>

  <p>
    <strong>Dateback 241:</strong>
    <%= hocsinhsach.DateBack_241 %>
  </p>

  <p>
    <strong>Numberdate 241:</strong>
    <%= hocsinhsach.NumberDate_241 %>
  </p>

</div>
