
<%= link_to "Thêm", new_hocsinhsach_path %>
<p style="color: green"><%= notice %></p>
<h1>QUẢN LÝ CHO HỌC SINH MƯỢN SÁCH</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Mã HS</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Lớp</th>
      <th scope="col">Mã Sách</th>
      <th scope="col">Tên Sách</th>
      <th scope="col">Tên tác giả</th>
      <th scope="col">Tủ sách</th>
      <th scope="col">Số BM</th>
      <th scope="col">Ngày mượn</th>
      <th scope="col">Ngày trả</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     <% @hocsinhsaches.each do |hocsinhsach| %>
  <tr>
    <td><%= hocsinhsach.IdStudent_241 %></td>
    <td><%= hocsinhsach.NameStudent_241 %></td>
    <td><%= hocsinhsach.RoomStudent_241 %></td>
    <td><%= hocsinhsach.IdBook_241 %></td>
    <td><%= hocsinhsach.NameBook_241 %></td>
    <td><%= hocsinhsach.Author_241 %></td>
    <td><%= hocsinhsach.Category_241 %></td>
    <td><%= hocsinhsach.IDBM_241 %></td>
    <td><%= hocsinhsach.DateBorrow_241 %></td>
    <td><%= hocsinhsach.DateBack_241 %></td>

    <td>
      <%= link_to "Hiển thị", hocsinhsach, class:'btn btn-info' %>
    </td>
    <% end %>
  </tr>
  </tbody>
</table>
<%= link_to "Thêm", new_hocsinhsach_path %>